In [22]:
def square(num):
    return num * num

print(f"This is anonymous  function : {square(9)}")

result = lambda num: num * num
print(f"result of lambda: {result(9)}")

print(square.__name__)

This is anonymous  function : 81
result of lambda: 81
square

In [ ]:
# Lambda Syntax
# lambda parameters : body of function

In [19]:
add = lambda a, b : a + b

print(add(/1,2))

print(add.__name__)

3
<lambda>

In [ ]:
# more examples:

In [25]:
cube = lambda num : num * num * num

print(cube(3))

27

In [28]:
cube = lambda num : num ** 3

print(cube(4))

64

In [ ]:
# map

# A standard function that accepts at least two arguments, a function and an "iterable"

# iterable - something that can be iterated over (lists, strings, dictionaries, sets, tuples)

# runs the lambda for each value in the iterable and returns a map object which can be converted into another data structure

# MAP syntax: 

# map(lambda operation, iterator)

In [10]:
nums = [2, 4, 6, 8] 

result = list(map(lambda x : x * 2 , nums ))
print(result)

[4, 8, 12, 16]

In [7]:
l = [1, 2, 3, 4]

doubles = list(map(lambda x: x * 2, l))

doubles # [2, 4, 6, 8]

[2, 4, 6, 8]

In [12]:
people = ['A', 'B', 'C', 'D']

peeps  = list(map(lambda name : name.upper(), people))

print(peeps)

['A', 'B', 'C', 'D']

In [ ]:
# more examples :

In [13]:
list1 = [20, 14, 11] 

decrement_list = list(map(lambda num : num - 1, list1))

print(decrement_list)

[19, 13, 10]

In [ ]:
# filter

# There is a lambda for each value in the iterable.

# Returns filter object which can be converted into other iterables

# The object contains only the values that return true to the lambda

# filter syntax : 

# filter( predicate logic , iterator )

In [15]:
l1 = [1,2,3,4,5,6,7,8,9,10]

evens = list(filter(lambda num : num % 2 == 0, l1))

print(evens)

[2, 4, 6, 8, 10]

In [21]:
users = [
    {'username': 'samuel', 'tweets': ["I love cakes", "I love cats"]},
    {'username': 'Steffy', 'tweets': ["I love cats"]},
    {'username': 'Jeff', 'tweets': ["I love rabbits", "I love pythons"]},
    {'username': 'Martin', 'tweets': []},
    {'username': 'Tom', 'tweets': []}
]

result = list(filter( lambda elem : len(elem['tweets']) == 0 , users))

print(result)  # Inactive users

[{'username': 'Martin', 'tweets': []}, {'username': 'Tom', 'tweets': []}]

In [ ]:
# Filter + Map

In [36]:
names = ['Lassie', 'Colt', 'Rusty', 'Faulknar', 'Tom','Jon']

result = list(map(lambda nm : f"Instructor name is {nm}" ,
             filter(lambda name : len(name) < 5 , names))
             )

print(result)

['Instructor name is Colt', 'Instructor name is Tom', 'Instructor name is Jon']

In [41]:
users = [
    {'username': 'samuel', 'tweets': ["I love cakes", "I love cats"]},
    {'username': 'Steffy', 'tweets': ["I love cats"]},
    {'username': 'Jeff', 'tweets': ["I love rabbits", "I love pythons"]},
    {'username': 'Martin', 'tweets': []},
    {'username': 'Tom', 'tweets': []}
]

result = list(map(lambda user : user['username'].upper() ,
              filter( lambda elem : len(elem['tweets']) == 0, users)))

print(result)  # Inactive user names

['MARTIN', 'TOM']

In [42]:
def remove_negatives(nums):
    return list(filter(lambda l: l >= 0, nums))

remove_negatives([-1,3,4,-99])

[3, 4]

In [ ]:
# reduce
# runs a function of two arguments cumulatively to the items of iterable, from left to right, which reduces the iterable to a single value
# reduce or List Comprehension?
# YOUR TURN

In [43]:
str1 = "I love cakes. I love cats"

print("cats" in str1 )

True

In [ ]:
# reduce or List Comprehension?
# For almost all problems especially at this stage, use list comprehension - you will see it far more in the wild

In [1]:
from functools import reduce

l = [1,2,3,4]

product = reduce(lambda x, y: x * y, l)

print(product)

24

In [ ]:
# Built-in fucntion

In [ ]:
# all
# Return True if all the elements of the iterable are truthy
# or if iterable is empty

In [4]:
all([char for char in 'eio' if char in 'aeiou'])

True

In [6]:
all([num for num in [4,2,10,6,8] if num % 2 == 0])

True

In [8]:
people = ["Charlie", "Casey", "Carly", "Cristina"]

all([name[0]=='C' for name in people])

True

In [ ]:
# any 
# Returns true if any element of iterable is truthy.
# If the iterable is empty, return false

In [9]:
nums = [1, 2, 3, 4, 5, 6]
any([num % 2 == 1 for num in nums])

True

In [ ]:
# generator expressions

In [10]:
people = ["Charlie", "Casey", "Carly", "Cristina"]

all(name[0]=='C' for name in people)

True

In [14]:
import sys
list_comp = sys.getsizeof([x * 10 for x in range(1000)])
gen_exp = sys.getsizeof(x * 10 for x in range(1000))

print("To do the same things, it takes ..")
print(f"list comprehension: {list_comp} bytes")
print(f"Generator expresisons: {gen_exp} bytes")

To do the same things, it takes ..
list comprehension: 9024 bytes
Generator expresisons: 120 bytes

In [ ]:
# sorted 
# Retruns a new sorted list from the items in iterable

In [21]:
nums = [3,9,1,0,2,5,6,2,5]
print(f"using function sorted(): {sorted(nums, reverse=True)}")
nums

using function sorted(): [9, 6, 5, 5, 3, 2, 2, 1, 0]

[3, 9, 1, 0, 2, 5, 6, 2, 5]

In [20]:
nums = [3,9,1,0,2,5,6,2,5]

print(f"using function .sort(): {nums.sort()}")

nums

using function .sort(): None

[0, 1, 2, 2, 3, 5, 5, 6, 9]

In [23]:
users = [
    {'username': 'samuel', 'tweets': ["I love cakes", "I love cats"]},
    {'username': 'Steffy', 'tweets': ["I love cats"]},
    {'username': 'Jeff', 'tweets': ["I love rabbits", "I love pythons"]},
    {'username': 'Martin', 'tweets': []},
    {'username': 'Tom', 'tweets': []}
]

sorted(users, key = lambda user : user['username'] )

[{'username': 'Jeff', 'tweets': ['I love rabbits', 'I love pythons']}, {'username': 'Martin', 'tweets': []}, {'username': 'Steffy', 'tweets': ['I love cats']}, {'username': 'Tom', 'tweets': []}, {'username': 'samuel', 'tweets': ['I love cakes', 'I love cats']}]

In [ ]:
# max
# Return the largest item in an iterable or the largest of two or more arguments.

In [24]:
# max (strings, dicts with same keys)

max([3,4,1,2]) # 4
max((1,2,3,4)) # 4
max('awesome') # 'w'
max({1:'a', 3:'c', 2:'b'}) # 3

3

In [ ]:
# min
# Return the smallest item in an iterable or the smallest of two or more arguments.

In [25]:
# min (strings, dicts with same keys)

min([3,4,1,2]) # 1
min((1,2,3,4)) # 1
min('awesome') # 'a'
min({1:'a', 3:'c', 2:'b'}) # 1

1

In [ ]:
# abs
# Return the absolute value of a number. The argument may be an integer or a floating point number.

In [32]:
abs(-5) # 5
abs(5)  # 5

5

In [33]:
# sum
sum([1,2,3,4]) # 10

sum([1,2,3,4], -10) # 0

0

In [ ]:
# zip
# Make an iterator that aggregates elements from each of the iterables.
# Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.
# The iterator stops when the shortest input iterable is exhausted.

In [34]:
first_zip = zip([1,2,3], [4,5,6])

list(first_zip) # [(1, 4), (2, 5), (3, 6)]

dict(first_zip) # {1: 4, 2: 5, 3: 6}

{}

In [35]:
five_by_two = [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

list(zip(*five_by_two))

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]

In [36]:
midterms = [80,91,78]
finals = [98,89,53]
students = ['dan', 'ang', 'kate']


# returns dict with {student:highest score} USING DICT COMP
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = {t[0]:max(t[1], t[2]) for t in zip(students, midterms, finals)}


# returns dict with {student:highest score} (same thing as above) USING MAP+LAMBDA
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = dict(
	zip(
		students,
		map(
			lambda pair: max(pair),
			zip(midterms, finals)
		)
	)
)

# returns dict with student:average score
# {'dan': 89.0, 'ang': 90.0, 'kate': 65.5}
avg_grades = dict(
	zip(
		students,
		map(
			lambda pair: ((pair[0]+pair[1])/2),
			zip(midterms, finals)
		)
	)
)